<div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h2>{{"About Us" | translate}}</h2>
        <p>{{"AboutText" | translate}}</p>
      </div>
      <div class="footer-section">
        <h2>{{"quickLinks" | translate}}</h2>
        <ul>
            <li><a routerLink="/hotels">{{"hotels" | translate}}</a></li>
            <li><a routerLink="/rooms">{{"rooms" | translate}}</a></li>
            <li><a routerLink="/bookings">{{"booking" | translate}}</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>{{"Contact Us" | translate}}</h2>
        <ul>
          <li>{{"Address" | translate}}</li>
          <li>{{"Phone" | translate}}</li>
          <li>{{"Email" | translate}}</li>
        </ul>
      </div>
      <div class="footer-section">
        <h2>{{"Follow Us" | translate}}</h2>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <img src="../../assets/Images/LOGO.JPG" alt="" (click)="navigateToHome()">
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Booking App. All rights reserved.</p>
    </div>
  </div>
  