<div class="main-container">
  <button class="scroll-top-button" *ngIf="showButton" (click)="scrollToTop()">
    <i class="pi-arrow-up"></i>Top </button>
<div class="title-hotels">
  <h1>{{"Hotelgallery" | translate}}</h1>
</div>
<div class="hotels">

  <div
    *ngFor="let hotel of hotels"
    class="hotel"
    (click)="goToHotel(hotel?.id)"
  >
    <p-card
      header="{{ hotel.name }}"
      subheader="{{ hotel.city }}"
      [style]="{ width: '430px' }"
    >
      <ng-template pTemplate="header">
        <img alt="Card" [src]="hotel.featuredImage" />
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
          <p-button label="{{'details'|translate}}" class="w-full" styleClass="w-full" />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="image">
  <img src="../../assets/Images/tbilisi.jpg" alt="">
</div>
<div class="content">
  <section class="room-category">
    <h2>{{ 'SINGLE_ROOM' | translate }}</h2>
    <p>{{ 'SINGLE_ROOM_DESC' | translate }}</p>
  </section>
  <section class="room-category">
    <h2>{{ 'DOUBLE_ROOM' | translate }}</h2>
    <p>{{ 'DOUBLE_ROOM_DESC' | translate }}</p>
  </section>
  <section class="room-category">
    <h2>{{ 'DELUXE_ROOM' | translate }}</h2>
    <p>{{ 'DELUXE_ROOM_DESC' | translate }}</p>
  </section>

  <section class="overview">
    <h2>{{ 'HOTEL_OVERVIEW' | translate }}</h2>
    <p>{{ 'HOTEL_OVERVIEW_DESC' | translate }}</p>
  </section>
</div>

<div class="comments-and-social">
  <div *ngFor="let image of commentImages" class="comment-card">
    <img [src]="'../../../assets/Images/' + image" [alt]="'Comment Image ' + (commentImages.indexOf(image) + 2)">
  </div>
</div>
  

</div>