::ng-deep .ng-star-inserted {
    font-size: 16px !important;
}

.available{
    background:#127509;
}
.notavailable{
    background:rgb(135, 1, 13);
}
span {
    float: right !important;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    margin: 10px;
}
.room-detail-btn{
    padding: 15px 25px;
    background: #003b76;
    color: rgb(255, 174, 0);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

@media only screen and (max-width: 1264px) {
  ::ng-deep .p-card {
    width: 450px !important;
  }
  }

  @media only screen and (max-width: 975px) {
    ::ng-deep .p-card {
        width: 490px !important;
      }
  }
  
  @media only screen and (max-width: 515px) {
    ::ng-deep .p-card {
        width:350px !important;
      }
  }