<div class="container">
  <img [src]="hotel?.featuredImage" alt="" />
  <div class="hotel-info">
    <p>{{ hotel?.city }}</p>
    <p>{{ hotel?.name }}</p>
    <p>{{ hotel?.address }}</p>
  </div>
</div>
<div class="rooms-container">
    <div class="rooms" *ngFor="let room of rooms" (click) ="goToRoom(room.id)">
            <div class="title">{{ room.name }}</div>
            <div><img [src]="room?.images![0].source" alt=""></div>
            <div class="available">{{ room.available?'თავისუფალია':'დაკავებულია' }}</div>
            <div class="price">{{"ერთი ღამის ფასი " + room.pricePerNight + "₾"}}</div>
            <button class="btn-details">{{"See More" | translate}}</button>
    </div>

   
</div>
<div class="description-container">
    <p>Indulge in Unforgettable Experiences:</p>
    <p>Serene Accommodations: Unwind in our elegantly appointed rooms, each boasting [amenities] and breathtaking views of [view description].
        Culinary Delights: Embark on a culinary journey at our [restaurant description], featuring [cuisine type] specialties and [service detail].
        Unwind and Reconnect: Dive into our sparkling pool or rejuvenate at our [spa description], offering a haven of tranquility.
        Explore with Ease: Our convenient location places you at the center of the action. Explore vibrant [attractions] or delve into the rich history of [historical sites].</p>
</div>

