
<div class="container">
    <div class="gallery">
        <div class="image-gallery">
            <div class="image-container">
              <img [src]="images[currentIndex]" alt="Gallery Image">
            </div>
            <button class="prev-button" (click)="prevImage()">&#10094;</button>
            <button class="next-button" (click)="nextImage()">&#10095;</button>
          </div>
    </div>
    <div class="reserve">
        reserve
    </div>
    <div class="description">
        description
    </div>
    <div class="overview">overview</div>
</div>

