<div class="container">
    <header class="main-background" (click)="navigateToFilter()"></header>
    <main>
        <section class="content-row">
          <div class="overview">
            <h2>Overview</h2>
            <p>Discover the ultimate hospitality experience at our carefully selected collection of the finest hotels around the world. Each property in our portfolio is renowned for its exceptional service, luxurious amenities, and attention to detail, ensuring that every aspect of your stay is nothing short of extraordinary. Whether you are traveling for business or leisure, our hotels are committed to providing an unparalleled level of comfort and sophistication.</p>
          </div>
          <div class="blog">
            <h2>Latest News</h2>
            <div class="blog-post">
              <h3>New Hotel Openings</h3>
              <p>Discover the latest hotel openings in prime locations.</p>
            </div>
            <div class="blog-post">
              <h3>Travel Tips</h3>
              <p>Get the best travel tips for your next vacation.</p>
            </div>
            <div class="blog-post">
              <h3>Special Promotions</h3>
              <p>Take advantage of our exclusive deals and save on your next booking.</p>
            </div>
            <div class="blog-post">
              <h3>Seasonal Highlights</h3>
              <p>Learn about seasonal events and activities to enjoy during your travels.</p>
            </div>
           
          </div>
        </section>
    
        <section class="gallery">
          <h2>Hotel Gallery</h2>
          <div class="gallery-container">
            <div *ngFor="let hotel of hotels" class="gallery-item">
                <p-card (click)="navigateToHotel(hotel.id)" header="{{hotel.name}}" subheader="{{hotel.city}}" [style]="{ width: '400px', cursor:'pointer' }" >
                    <ng-template pTemplate="header">
                        <img alt="Card" [src]="hotel.featuredImage" />
                    </ng-template>
                   
                    <ng-template pTemplate="footer">
                        <div class="flex gap-3 mt-1">
                            <p-button label="See More" class="w-full" styleClass="w-full" />
                        </div>
                    </ng-template>
                </p-card>
            </div>
          </div>
        </section>
    
        <section class="comments">
          <h2>Comments</h2>
          <div class="comments-container">
            <div class="comment"><p><strong>Pokahondas sheron:</strong> Wonderful stay, highly recommend!</p></div>
            <div class="comment"><p><strong>Jane Smith:</strong> Great service and beautiful rooms.</p></div>
            <div class="comment"><p><strong>David Stone:</strong> nice hotels in tbilisi</p></div>
            <div class="comment"><p><strong>Anna Paterson:</strong> Beautiful rooms.</p></div>
          </div>
        </section>
      </main>

</div>