.p-button-lg {
  width: 50px;
  height: 30px;
  background: #003b76;
  color: #f8b62b;
}

.p-button-types {
  width: 150px;
  height: 30px;
  background: #003b76;
  color: #f8b62b;
}

.rangeiputs {
  margin: 28px 0px;
}
.roomtype {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10px;
}

::ng-deep .p-inputnumber-input {
  width: 60px;
}
::ng-deep .p-inputwrapper {
  width: 200px;
  height: 30px;
}
::ng-deep .ng-star-inputwrapper {
  height: 30px;
}
::ng-deep .p-inputtext {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px auto;
  max-width: 1400px;
  align-items: start;
  padding: 10px;
}

::ng-deep .p-slider-handle {
  top: -7px;
}

::ng-deep .p-button-label {
  width: 120px;
  height: 40px;
  padding: 10px;
  background: #003b76;
  color: #f8b62b;
}
.text-primary,
.text-color {
  color: #003b76;
}
.submit-filter {
  display: flex;
  align-items: flex-end;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 20px auto;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}

.scroll-top-button {
  position: fixed;
  bottom: 100px;
  right: 60px;
  background-color: rgb(255, 174, 0);
  border: none;
  color: rgb(27, 25, 25);
  padding: 30px 25px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.scroll-top-button:hover {
  opacity: 1;
}

.room-detail-btn {
  padding: 20px 25px;
  background: #003b76;
  color: rgb(255, 174, 0);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.room-detail-btn-filter {
  padding: 15px 55px;
  background: rgb(255, 174, 0);
  color: #003b76;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 17px;
}

.filter-rooms {
  display: grid;
  grid-template-columns: 200px auto 400px;
  gap: 40px;
}
.room-types {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: fit-content;
}
.filter {
  border: 1px solid #003b76;
  border-radius: 10px;
  padding: 30px;
  max-width: fit-content;
  background: #003b76;
  color: #f8b62b;
}
.filter-divs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.dates {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.guest-quantity {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.checkOut,
.checkIn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.ranges {
  display: flex;
  flex-direction: column;
}
.ranges label {
  text-align: center;
}

.image-gallery {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media only screen and (max-width: 1426px) {
  .filter-rooms {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
    margin: auto;
  }
  .gallery {
    display: none;
  }
}

@media only screen and (max-width: 1175px) {
  .filter-rooms {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: auto;
  }
  
}


@media only screen and (max-width: 1264px) {
  .rooms {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media only screen and (max-width: 1164px) {
  .container {
    align-items: center;
  }
  .filter-divs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
 
  .ranges {
    width: 100%;
  }
  .guest-quantity {
    width: 100%;
  }
  .checkOut,
  .checkIn {
    width: 100%;
    align-items: flex-start;
  }
  .rooms {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media only screen and (max-width: 975px) {
  .rooms {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 788px) {
  .rooms {
    grid-template-columns: 1fr;
  }
  .room-detail-btn {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .form-group {
    margin-bottom: 0.5rem;
  }
}

@media only screen and (max-width: 628px) {
  .filter-divs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
  .guest-quantity {
    align-items: start;
  }
  .room-types {
    flex-direction: column;
    align-items: center;
  }
}

::ng-deep .p-calendar {
  height: 30px !important;
}
/*   ng-invalid ng-star-inserted ng-touched */
